@CHARSET "UTF-8";

.find_ti{
text-align:center;
margin-top:50px;
margin-bottom:38px;}

.find_container{
display:flex;
justify-content:center;
margin-bottom:60px;


}

.ph_wrapper{
background-color:#00436B;
margin-right:50px;
width:20%;
height:300px;
text-align:center;
}

.mail_wrapper{
background-color:#00436B;
margin-left:50px;
width:20%;
height:300px;
text-align:center;
}
.fa-mobile-screen-button,.fa-envelope{
color:white;
line-height:280px;

}
.tit_mail,.tit_ph{
color:white;
}
.txt{
color:gray;
}