@CHARSET "UTF-8";

.mail_container{
margin-bottom:30px;
}
.mail_column{
border:1px solid rgba(160,160,160,0.3);
position:relative;
display:flex;
justify-content:center;
align-items:center;
margin-top:60px;
margin-left:500px;
margin-right:550px;
padding-top:200px;
padding-bottom:50px;
height:500px;
border-radius:8px;
width:550px;

}

.mail_name,.mail,.mail_sub{
margin-bottom:13px;
width:400px;
height:50px;
border-radius:8px;
border:1px solid;
color:#397089;
opacity:0.4;
border:1px solid rgba(160,160,160);

}

.mail_tit{
text-align:center;
position:absolute;
top:80px;
left:155px;
}

.mail_sub{

border-radius:22px;
background-color:#bf81a6;
}

.mail_href{
display:flex;
justify-content:space-between;
}
.mail_email,.mail_pw{
color:gray;
}


