!DOCTYPE html
*{
margin:0px auto;
}

.container{
margin-top:40px;
justify-content:center;
align-items:center;
width:30%;
height:100%;
margin-bottom:50px;
border:1px solid rgba(160,160,160,0.3);
border-radius:8%;
padding:30px 30px;
}
.self_column{
margin:20px 20px;
}
.editPicture_column{
display:flex;
}


.editPassword input{
width:100%;
height:10%;
}
.editPicture{
border:1px solid black;
border-radius:100%;
padding:30px;
margin-right:10px;
margin-bottom:10px;
width:70%;
height:70%;
}

#picture_icon{
font-size:100px;
}
.editNickname{
display: absolute;
margin-top:80px;
margin-left:20px;
}

.id{
font-size:20px;
font-weight:bold;
}



.nickname{
font-size:25px;
font-weight: bold;
width:250px;
height:40px;
border-radius: 10px;
}

h4{
font-weight:bold;
}




.nickname input[type="submit"]{
font-family:FontAwesome;
font-size:20px;
width:20%;
height:80%;
border:none;
background-color:white;
}


.btn-primary{
background-color:#987095;
color:white;
border:1px solid #432874;
border:none;
}

.btn-primary:hover{
background-color:white;
color:black;
border:1px solid #432874;
}