@CHARSET "UTF-8";
.search__colum{
margin-top:25px;
display:flex;
justify-content:center;
}

#search_box{

position:relative;
}

#search{
padding:25px;
padding-left:60px;
display:absolute;
border:solid 5px #183153;
width:800px;
height:20px;
border-radius:7px;
}

#search_icon{
    position:absolute;
    top:22px;
    left:18px;

}

.main__colum{
border:solid 2px #5B9BD5;
background-color:#5B9BD5;
width:300px;
height:200px;
margin-right:30px;
}

.colum{
display:flex;
justify-content:center;
margin:45px;
}

.ad_box{
border:solid 2px #5B9BD5;
background-color:#5B9BD5;
width:700px;
height:150px;
margin-bottom:25px;
}

.ad__colum{
display:flex;
justify-content:center;
}
