*{
   margin:0 auto;
   color:#432874;
   justify-content:center;
   align-items:center;
}
.header__wrapper{
text-align:center;
background-color:none;
width:100%;
}
.header__colum{
    display:flex;
    justify-content:space-between;
}

#header__logo{
    color:#432874;
}
.navbar navbar-expand-lg bg-light{
margin-top:10%;
padding:0px;
width:50%;
}


.container-fluid input{
border:none;
width:100%;
padding:3%;
}

.container-fluid{
margin-top:6%;
}

.btn:hover{
background-color:#f1eaf1;
border:#f1eaf1;
transition: 0.7s;
}

.d-flex{
width:800px;
}

.navbar{
display:inline-block;
}

.nav-link{
color:#432874;
}