!DOCTYPE html
*{
margin:0 auto;
}
.write_wrapper{
display:flex;
justify-content:center;
align-items:center;
text-align:center
width:50%;
height:100%;

}
.write__content{

}
.write_submit{
width:15%;
height:50px;
float:right;
margin-right:520px;
}
#write-img{
width:30%;
height:30%}

.write_column,.title_column,
.choose_type,.write_price,.write_location,.house_img
{
   margin:20px 0px;

}
.select_type{
width:20%;
height:50px;
}
.write_title,.location{
width:55%;
height:50px;
}
input{
   border:1px solid black;
   border-radius:5px;
    font-size:20px;}
#month,#all{
   margin-right:10px;


   }
label{
font-size:18px;
position:relative;
top:-8px;
left:-3px;
}
.house_detail{
position:relative;
top:70px;
left:20px;
}

textarea{
resize:none;
}