<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">

<th:block layout:fragment="css">
  <link rel="stylesheet" href="/member/introduction.css" />
</th:block>
<th:block layout:fragment="content">
  <div class="container">
    <h1><span th:text="|${dto.nickname} 님의 자기소개|"></span></h1>

    <table>
      <tr><td class="detail_name"><h4>닉네임</h4></td>
        <div class="column">
          <td><div class="name" th:text="${dto.nickname}">ㅇㅅㅇ</div></td>
        </div>
      </tr>
      <tr><td class="detail_name"><h4>성별(필수)</h4></td>
        <div class="column">
          <td>
            <div th:text="${dto.gender}">여 </div></td>
        </div>
      </tr>
      <tr>
        <td class="detail_name"><h4>희망지역</h4></td>
        <div class="column">
          <td><div th:text="${dto.area}">강남구</div></td>
        </div>
      </tr>
      <tr>
        <td class="detail_name"><h4>월세/전세 선택</h4></td>
        <div class="column">
          <td><div th:text="${dto.roomType}">월세</div></td>
        </div>
      </tr>

      <tr><td class="detail_name"><h4>보증금 예산(필수)</h4></td>
        <div class="column">
          <td><div th:text="${dto.deposit}">300</div></td>
        </div>
      </tr>

      <tr> <td class="detail_name"><h4>월세 예산(필수)</h4></td>
        <div class="column">
          <td> <div th:text="${dto.monthFee}">55</div> </td>
        </div>
      </tr>


      <tr>
        <td class="detail_name"><h4>Mbti(필수)</h4></td>
        <div class="column">
          <td><div th:text="${dto.mbti}">ESTP</div></td>
        </div></tr>


      <tr>
        <td class="detail_name"><h4>반려동물과의 동거에 대해</h4></td>

        <div class="column">
          <td>
            <div th:text="${dto.pet}">상관없어요</div>
          </td>


        </div></tr>


      <tr>
        <td class="detail_name"><h4>흡연</h4></td>
        <div class="column">
          <td><div th:text="${dto.smoking}">상관없어요</div></td>
        </div></tr>


      <tr>
        <td class="detail_name"><h4>생활패턴</h4></td>
        <div class="column">
          <td><div th:text="${dto.lifeCycle}">아침형</div></td>
        </div>
      </tr>
      <tr>
        <td class="detail_name"><h4>내가 원하는 룸메이트</h4></td>
        <div class="column">
          <td><div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" th:text="${dto.wishRoommate}"></textarea>
          </div>
          </td>
        </div>
      </tr>
      <tr>
        <td class="detail_name"><h4>나와의 매칭점수</h4></td>
        <div class="column">
          <td><div class="form-group">
            70%
          </div>
          </td>
        </div>
      </tr>
    </table>
  </div>
  <!--</form>-->
  </div>

  <script type="text/javascript" th:src="@{/js/introduction.js}"></script>
</th:block>
</html>