<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/member/introduction.css" />
</th:block>
<th:block layout:fragment="content">
    <div class="container">
        <form class="introduction_form" th:action="@{/auth/introductionProc}" th:method="POST">
            <div class="introduction_column">
                <h4>성별(필수)</h4>
                <div class="column">
                    <input type="radio" name="chk_info" value="남">남</input>
                    <input type="radio" name="chk_info" value="여">여</input>
                </div>
            </div>
            <div class="introduction_column">
                <h4>희망지역</h4>
                <div class="column">
                    <select class="select" title="지역 선택">
                        <option value="">-선택-</option>
                        <option value="강남구">강남구</option>
                        <option value="송파구">송파구</option>
                        <option value="서초구">서초구</option>
                    </select>
                </div>
            </div>
            <div class="introduction_column">
                <h4>보증금 예산(필수)</h4>
                <div class="column">
                    <input class="deposit_value" type="range" name="deposit" step="100" min="200" max="100000000">
                    <span id="deposit_value">200</span>
                </div>
            </div>
            <div class="introduction_column">
                <h4>월세 예산(필수)</h4>
                <div class="column">
                    <input class="monthlyRent_value" type="range" name="monthly_rent" step="10" min="40" max="200">
                    <span id="monthlyRent_value">40</span>
                </div>
            </div>
            <div class="introduction_column">
                <h4>Mbti(필수)</h4>
                <div class="column">
                    <div class="mbti_chk">
                        <input type="radio" name="chk_info" value="외향적(E)">외향적(E)</input>
                        <input type="radio" name="chk_info" value="내향적(I)">내향적(I)</input>
                    </div>
                    <div class="mbti_chk">
                        <input type="radio" name="chk_info" value="현실적(S)">현실적(S)</input>
                        <input type="radio" name="chk_info" value="이상적(N)">이상적(N)</input>
                    </div>
                    <div class="mbti_chk">
                        <input type="radio" name="chk_info" value="이성적(T)">이성적(T)</input>
                        <input type="radio" name="chk_info" value="감성적(F)">감성적(F)</input>
                    </div>
                    <div class="mbti_chk">
                        <input type="radio" name="chk_info" value="계획적(J)">계획적(J)</input>
                        <input type="radio" name="chk_info" value="즉흥적(P)">즉흥적(P)</input>
                    </div>
                </div>
            </div>
            <div class="introduction_column">
                <h4>반려동물과의 동거에 대해</h4>
                <div class="column">
                    <input type="checkbox" name="like" value="좋아요">좋아요</input>
                    <input type="checkbox" name="like" value="싫어요">싫어요</input>
                    <input type="checkbox" name="like" value="상관없어요">상관없어요</input>
                </div>
            </div>
            <div class="introduction_column">
                <h4>흡연</h4>
                <div class="column">
                    <input type="checkbox" name="like" value="좋아요">좋아요</input>
                    <input type="checkbox" name="like" value="싫어요">싫어요</input>
                    <input type="checkbox" name="like" value="상관없어요">상관없어요</input>
                </div>
            </div>
            <div class="introduction_column">
                <h4>생활패턴</h4>
                <div class="column">
                    <input type="checkbox" name="livePattern" value="아침형">아침형</input>
                    <input type="checkbox" name="livePattern" value="야행성">야행성</input>
                </div>
            </div>
            <div class="introduction_column">
                <h4>내가 원하는 룸페이트</h4>
                <div class="column">
                    <textarea cols="50" rows="10"></textarea>
                    <input class="button" type="button" value="확인"/>
                </div>
            </div>
        </form>
    </div>
    <script src="js/introduction.js"></script>
</th:block>
</html>