<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">

<th:block layout:fragment="css">
    <link rel="stylesheet" href="/member/introduction.css" />
</th:block>
<th:block layout:fragment="content">
<div class="container">
<!--    <form class="introduction_form" th:action="@{/auth/introductionProc}" th:method="POST">-->


        <table >
            <form id="userDetailForm" th:action="@{/introduction}" th:object="${userDetailForm}" th:method="POST">
            <tr><td class="detail_name"><h4>닉네임</h4></td>
                <div class="column">
                    <td><input type="text" name="nickname" placeholder="닉네임"></td>
                </div>
            </tr>
            <tr><td class="detail_name"><h4>성별(필수)</h4></td>
        <div class="column">
            <td><input type="radio" name="sex"value="남">남</input>
            <input type="radio" name="sex" value="여">여</input></td>
            </div>
            </tr>
            <tr>
                <td class="detail_name"><h4>희망지역</h4></td>
            <div class="column">
            <td><select name="regions" class="select" title="지역 선택">
                <option value="">-선택-</option>
                <option value="강남구">강남구</option>
                <option value="송파구">송파구</option>
                <option value="서초구">서초구</option>
            </select></td>
                </div>
            </tr>


               <tr><td class="detail_name"><h4>보증금 예산(필수)</h4></td>
            <div class="column">
                <td><input class="deposit_value" type="range" name="lease_fee" step="100" min="200" max="100000000" oninput="document.getElementById('deposit_value').innerHTML=this.value;">
                <span id="deposit_value">200</span>
                </input></td>
            </div>
               </tr>

               <tr> <td class="detail_name"><h4>월세 예산(필수)</h4></td>
            <div class="column">
               <td> <input class="monthlyRent_value" type="range" name="monthly_fee" step="10" min="40" max="200" oninput="document.getElementById('monthlyRent_value').innerHTML=this.value;">
                   <span id="monthlyRent_value">40</span></td>
                </input>
</div>
            </tr>


            <tr>
                <td class="detail_name">
                    <h4>Mbti(필수)</h4></td>
                <div class="column">
                <td><select class="select" title="mbti 선택" name="mbti">
                    <option value="">-선택-</option>
                    <option value="ISTJ">ISTJ</option>
                    <option value="ISFJ">ISFJ</option>
                    <option value="INFJ">INFJ</option>
                    <option value="INTJ">INTJ</option>
                    <option value="ISTP">ISTP</option>
                    <option value="ISFP">ISFP</option>
                    <option value="INFP">INFP</option>
                    <option value="INTP">INTP</option>
                    <option value="ESTP">ESTP</option>
                    <option value="ESFP">ESFP</option>
                    <option value="ENFP">ENFP</option>
                    <option value="ENTP">ENTP</option>
                    <option value="ESTJ">ESTJ</option>
                    <option value="ESFJ">ESFJ</option>
                    <option value="ENFJ">ENFJ</option>
                    <option value="ENTJ">ENTJ</option>
                </select></td>
                </div></tr>


            <tr>
                <td class="detail_name"><h4>반려동물과의 동거에 대해</h4></td>

                <div class="column">
                    <td>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="pet" type="radio" id="pet1" value="좋아요">
                        <label class="form-check-label" for="pet1">좋아요</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="pet" type="radio" id="pet2" value="싫어요">
                        <label class="form-check-label" for="pet2">싫어요</label>
                    </div>
                    <div class="form-check form-check-inline">
                    <input class="form-check-input" name="pet" type="radio" id="pet3" value="상관없어요" th:checked="checked">
                    <label class="form-check-label" for="pet3">상관없어요</label>
                    </div>
                </td>


                </div></tr>


       <tr>
           <td class="detail_name"><h4>흡연</h4></td>
           <div class="column">
               <td><div class="form-check form-check-inline">
                   <input class="form-check-input" name="smoking"  type="radio"  id="smoking1" value="좋아요">
                   <label class="form-check-label">좋아요</label>
               </div>
               <div class="form-check form-check-inline">
                   <input class="form-check-input" name="smoking" type="radio" id="smoking2" value="싫어요">
                   <label class="form-check-label" for="smoking2">싫어요</label>
               </div><div class="form-check form-check-inline">
               <input class="form-check-input" name="smoking" type="radio" id="smoking3" value="상관없어요" th:checked="checked">
               <label class="form-check-label" for="smoking3">상관없어요</label>
           </div>
               </td>
           </div></tr>


        <tr>
                <td class="detail_name"><h4>생활패턴</h4></td>
            <div class="column">
                <td><div class="form-check form-check-inline">
                    <input class="form-check-input" name="life_Cycle" type="radio" id="lifeCycle1" value="아침형" th:checked="checked">
                    <label class="form-check-label" for="lifeCycle1">아침형</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="life_Cycle" type="radio" id="lifeCycle2" value="야행성">
                    <label class="form-check-label" for="lifeCycle2">야행성</label>
                </div>
                </td>
            </div>
       </tr>
        <tr>
                <td class="detail_name"><h4>내가 원하는 룸메이트</h4></td>
            <div class="column">
                <td><div class="form-group">
                    <textarea name="wish_roommate" class="form-control" id="wishroomate1" rows="3"></textarea>
                </div>

                <button type="submit" id="btn" class="btn btn-primary btn-lg btn-block">확인</button></td>
        </div>
        </tr>
            </form>
            </table>
        </div>
<!--</form>-->
</div>

    <script type="text/javascript" th:src="@{/js/introduction.js}"></script>
</th:block>
</html>