<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">

<th:block layout:fragment="css">
    <link rel="stylesheet" href="/member/introduction.css" />
</th:block>
<th:block layout:fragment="content">
<div class="container">
<!--    <form class="introduction_form" th:action="@{/auth/introductionProc}" th:method="POST">-->

    <form th:action="@{/member/introduction}" th:object="${MemberDetailForm}" th:method="POST">
        <table>
    <!-- 회원가입 페이지에서 닉네임 작성하기 떄문에 필요없음 -->
<!--            <tr ><td class="detail_name" ><h4>닉네임</h4></td>-->
<!--                <div class="column">-->
<!--                    <td><input type="text" placeholder="닉네임" th:field="*{memberDetail_Id}"></td>-->
<!--                </div>-->

<!--            </tr>-->

            <tr><td class="detail_name" ><h4>성별(필수)</h4></td>
        <div class="column">
            <td><input type="radio" name="chk_info"  value="남">남</input>
            <input type="radio" name="chk_info"  value="여">여</input></td>
            </div>
            </tr>

            <tr>
                <td class="detail_name"><h4>희망지역</h4></td>

            <div class="column">
<!--                th:field="*{area_id}"-->
            <td><select class="select" title="지역 선택" >
                <option value="">-선택-</option>
                <option value="강남구">강남구</option>
                <option value="송파구">송파구</option>
                <option value="서초구">서초구</option>
            </select></td>
                </div>
            </tr>

                <tr><td class="detail_name" ><h4>보증금 예산(필수)</h4></td>
                    <div class="column">
                <td><input class="deposit_value" type="range" th:field="*{lease_fee}" name="deposit" step="100" min="200" max="100000000" oninput="document.getElementById('deposit_value').innerHTML=this.value;">
                <span id="deposit_value">200</span>
                </input></td>
                    </div>
               </tr>

               <tr> <td class="detail_name" ><h4>월세 예산(필수)</h4></td>
            <div class="column">
               <td> <input class="monthlyRent_value" type="range" th:action="*{mouthly_fee}" name="monthly_rent" step="10" min="40" max="200" oninput="document.getElementById('monthlyRent_value').innerHTML=this.value;">
                   <span id="monthlyRent_value">40</span></td>
                </input>
</div>
            </tr>
<!--            th:action="*{mbti}"-->
            <tr>
                <td class="detail_name" ><h4>Mbti(필수)</h4></td>
                <div class="column">
                <td><div class="mbti_chk">
                    <input type="radio" name="chk_info" value="외향적(E)">외향적(E)</input>
                    <input type="radio" name="chk_info" value="내향적(I)">내향적(I)</input>
                </div>
                    <div class="mbti_chk">
                        <input type="radio" name="chk_info" value="현실적(S)">현실적(S)</input>
                        <input type="radio" name="chk_info" value="이상적(N)">이상적(N)</input>
                    </div>
                    <div class="mbti_chk">
                        <input type="radio" name="chk_info" value="이성적(T)">이성적(T)</input>
                        <input type="radio" name="chk_info" value="감성적(F)">감성적(F)</input>
                    </div>
                    <div class="mbti_chk">
                        <input type="radio" name="chk_info" value="계획적(J)">계획적(J)</input>
                        <input type="radio" name="chk_info" value="즉흥적(P)">즉흥적(P)</input>
                    </div></td>
                </div></tr>

            <tr>
<!--                th:action="*{pet}"-->
                <td class="detail_name" ><h4>반려동물과의 동거에 대해</h4></td>

                <div class="column">
                    <td>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option1">
                        <label class="form-check-label" for="inlineCheckbox6">좋아요</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option2">
                        <label class="form-check-label" for="inlineCheckbox7">싫어요</label>
                    </div>
                    <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox8" value="option1">
                    <label class="form-check-label" for="inlineCheckbox8">상관없어요</label>
                    </div>
                </td>



                </div></tr>

<!--            th:action="*{smoking}"-->
       <tr>
           <td class="detail_name" ><h4>흡연</h4></td>
           <div class="column">
               <td><div class="form-check form-check-inline">
                   <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option1">
                   <label class="form-check-label" for="inlineCheckbox3">좋아요</label>
               </div>
               <div class="form-check form-check-inline">
                   <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option2">
                   <label class="form-check-label" for="inlineCheckbox4">싫어요</label>
               </div><div class="form-check form-check-inline">
               <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option3">
               <label class="form-check-label" for="inlineCheckbox5">상관없어요</label>
           </div>
               </td>
           </div></tr>

        <tr>
<!--            th:action="*{lifeCycle)"-->
                <td class="detail_name" ><h4>생활패턴</h4></td>
            <div class="column">
                <td><div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">아침형</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">야행성</label>
                </div>
                </td>
            </div>
       </tr>

        <tr>
                <td class="detail_name" ><h4>내가 원하는 룸메이트</h4></td>
            <div class="column">
                <td><div class="form-group">
                    <textarea class="form-control" th:action="*{wish_roommate}" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                    <input type="submit" value="제출"></input>
<!--                <button type="button" class="btn btn-primary btn-lg btn-block">확인</button>-->
                </td>
        </div>
        </tr>

            </table>
    </form>
<!--</form>-->
</div>

    <script type="text/javascript" th:src="@{/js/introduction.js}"></script>
</th:block>
</html>