<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/head ::headFragment"></th:block>
<th:block layout:fragment="css">
    <link rel="stylesheet" href="member/join.css" />
</th:block>
<body>

<th:block layout:fragment="content">
    <div class="container">
        <div class="header__colum">
                <a class="header__logo" href="/"><i class="fa-solid fa-house fa-2x">Together</i></a>
        </div>
        <form class="join_column" th:action="@{/auth/joinProc}" th:method="POST">
        <div class="join__column" id="join_id">
            <h5>아이디</h5>
            <input type="text" placeholder="아이디"/>
            <div class="check_id">중복확인</div>
        </div>
        <div class="join__column" id="join_passward">
            <h5>비밀번호</h5>
            <input type="text" placeholder="비밀번호"/>
            <input type="text" placeholder="비밀번호 확인"/>
        </div>
        <div class="join__column" id="join_birth">
            <h5>생년월일</h5>
            <input type="date" name="생년월일"/>
        </div>
        <div class="join__column" id="join_tel">
            <h5>전화번호</h5>
            <input type="tel" name="전화번호"/>
            <button >본인 인증</button>
        </div>
        <div class="join__column" id="join_email">
            <h5>이메일</h5>
            <input type="text" name="이메일" maxlength="18"/>@
            <select class="select" title="이메일 도메인 주소 선택" onclick="setEmailDomain(this.value);return false;">
                <option value="">-선택-</option>
                <option value="naver.com">naver.com</option>
                <option value="gmail.com">gmail.com</option>
                <option value="hanmail.net">hanmail.net</option>
                <option value="hotmail.com">hotmail.com</option>
                <option value="korea.com">korea.com</option>
                <option value="nate.com">nate.com</option>
                <option value="yahoo.com">yahoo.com</option>
            </select>
        </div>
            <div class="join">회원가입</div>
        </form>
    </div>

</th:block>
</body>
</html>