<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/member/login.css" />
</th:block >
<th:block layout:fragment="content">
    <div class="container">
    <div class="member_login">
        <form class="login_column"  th:method="POST">
            <h1>Log-in</h1>
            <div class="login_id">
                <h4>E-mail</h4>
                <input class="login_input" type="email" name=""  placeholder="Email">
            </div>

            <div class="login_pw">
                <h4>Password</h4>
                <input class="login_input" type="password" name=""  placeholder="Password">
            </div>

            <div class="login_etc">
                <div class="checkbox">
                    <input type="checkbox" name="" id=""/> 아이디 저장
                </div>
                <div class="forgot_pw">
                    <a href="/find/choose">아이디 찾기</a>
                    <a href="/find/password">비밀번호 찾기</a>
                </div>
            </div>
            <div class="submit">
                <input th:href="@{/}" type="submit" value="submit">
            </div>
            <div class="login_sns">

                <li><a class="login_sns_icon" href=""><i class="fa-brands fa-google"></i></a></li>
                <li><a class="login_sns_icon" href=""><i class="fab fa-facebook-f"></i></a></li>
                <li><a class="login_sns_icon" href=""><i class="fab fa-twitter"></i></a></li>

            </div>
        </form>
    </div>
        <div>
        </div>
    </div>
</th:block>
</html>