<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/member/mypage.css" />
</th:block>
<th:block layout:fragment="content">
    <div class="container">
        <div class="self_column">
<!--            <form class="editPicture_column" th:action="@{/auth/editPictureProc}" th:method="POST">-->
            <div class="editPicture">
                <i id="picture_icon" class="fa-solid fa-user"></i>
                </div>
                <div class="editNickname">
                    <div class="nickname" th:text = "${dto.nickname}">밀크야살빼자 님
                        <input type="submit" value="&#xf303">
                    </div>

                </div>
<!--            </form>-->
            </div>
        <div class="edit_member">
            <h4>아이디</h4>
            <div class="id" th:text = "${dto.Uid}">saeron2022</div>

            <div class="edit_password" th:if = "${dto.socialName.equals('NOTHING')}">
                <form th:action="@{/editPassword}" th:method= "post" th:object="${passwordupdatedto}">
                <h4>비밀번호 수정</h4>
                    <div class="input-group input-group-sm mb-3">
                        <input type="text" class="form-control" th:field="*{originPassword}" placeholder="현재 비밀번호 입력하세요." aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" >
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <input type="text" class="form-control" placeholder="변경할 비밀번호" th:field="*{newPassword}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <input type="text" class="form-control" placeholder="비밀번호 확인" th:field="*{newPasswordCheck}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <div class="btn-mypage">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">비밀번호 변경하기</button>
                        <button type="button" onclick="location.href='/member/rewriteIntroduction'" class="btn btn-primary btn-lg btn-block">세부사항 수정하기</button>
                    </div>
                </form>
            </div>

            <div th:if = "${dto.socialName.equals('KAKAO')} or ${dto.socialName.equals('NAVER')} or ${dto.socialName.equals('GOOGLE')}">
                <button type="button" onclick="location.href='/member/rewriteIntroduction'" class="btn btn-primary btn-lg btn-block">세부사항 수정하기</button>
            </div>

        </div>

        </div>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script>
            $(document).ready(function() {
            let message = "[[${NotMatchNewPassword}]]";
            if (message != "") {
                alert(message);
             }else {}
            })


            $(document).ready(function() {
            let message = "[[${NotMatchOriginPassword}]]";
            if (message != "") {
                alert(message);
             }else {}
            })

            $(document).ready(function() {
            let message = "[[${UpdatedSuccess}]]";
            if (message != "") {
                alert(message);
             }else {}
            })

            $(document).ready(function() {
            let message = "[[${success_modify_introduction}]]";
            if (message != "") {
                alert(message);
             }else {}
            })



    </script>
</th:block>
</html>