<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/member/mypage.css" />
</th:block>
<th:block layout:fragment="content">
    <div class="container">
        <div class="self_column">
            <form class="editPicture_column" th:action="@{/auth/editPictureProc}" th:method="POST">
            <div class="editPicture">
                <i id="picture_icon" class="fa-solid fa-user"></i>
                </div>
                    <div class="nickname">밀크야살빼자 님
                    </di>

                </div>
            </form>
            </div>
        <div class="edit_member">
            <h4>아이디</h4>
            <div class="id">saeron2022</div>
            <div class="edit_password">
                <form class="editPassword_column" th:action="@{/auth/editPasswordProc}" th:method="POST">
                <h4>비밀번호 수정</h4>
                    <div class="input-group input-group-sm mb-3">
                        <input type="password" class="form-control" placeholder="현재 비밀번호 입력하세요." aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" >
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <input type="password" class="form-control" placeholder="변경할 비밀번호" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <input type="password" class="form-control" placeholder="비밀번호 확인" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <div class="btn-mypage">
                    <button type="button" class="btn btn-primary btn-lg btn-block">저장하기</button>
                    <button type="button" onclick="location.href='/member/rewriteIntroduction'" class="btn btn-primary btn-lg btn-block">세부사항 수정하기</button>
                    </div>
                </form>
            </div>

        </div>

        </div>
</th:block>
</html>