<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/member/mypage.css" />
</th:block>
<th:block layout:fragment="content">
    <div class="container">
        <div class="self_column">
            <form class="editPicture_column" th:action="@{/auth/editPictureProc}" th:method="POST">
            <div class="editPicture">
                <i id="picture_icon" class="fa-solid fa-user"></i>
                </div>
                <div class="editNickname">
                    <div class="nickname">밀크야살빼자 님
                        <input type="submit" value="&#xf303">
                    </div>

                </div>
            </form>
            </div>
        <div class="edit_member">
            <h4>아이디</h4>
            <div class="id">saeron2022</div>
            <div class="edit_password">
                <form class="editPassword_column" th:action="@{/auth/editPasswordProc}" th:method="POST">
                <h4>비밀번호 수정</h4>
                <input type="password" class="present_password" placeholder="현재 비밀번호 입력하세요.">
                <input type="password" class="edit_password" placeholder="변경할 비밀번호"/>
                <input type="password" class="check_password" placeholder="비밀번호 확인"/>
                    <input class="button" type="submit" value="변경하기">
                </form>
            </div>

        </div>
        <div class="edit_detail">
            <form class="editPassword_column" th:action="@{/auth/editPasswordProc}" th:method="POST">
            <h4>세부사항 수정</h4>
                <textarea class="detail_self" cols="30" rows="5"></textarea>
            <input class="button" type="submit" value="수정하기">
            </form>
        </div>
        </div>
</th:block>
</html>