<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<th:block layout:fragment="css">
  <link rel="stylesheet" href="/post/detailPost.css" />
</th:block>

<th:block layout:fragment="content">

  <body>
  <div class="container" >

    <div class="slider"> <!--이미지를 담고 있는 div-->

      <div class="slider__item" th:each="image : ${images}">
        <img class="post_img" th:src="${image.filepath}">
        <!--       window :  <img class="post_img" th:src="@{//images//}+${image.filename}">-->
      </div>
    </div>
    <!--방과 사람 정보-->
    <div class="ContentBox">
      <h4 class="ContentTit"><strong>방 정보</strong></h4>
      <div class="Content">
        <ul>
          <li>
            <div class="content_name"><strong>보증금</strong></div>
            <div class="content_description" th:text="${post.lease}"></div>
          </li>

          <li>
            <div class="content_name"><strong>월세</strong></div>
            <div class="content_description" th:text="${post.monthly}"></div>
          </li>
          <li>
            <div class="content_name"><strong>관리비</strong></div>
            <div class="content_description" th:text="${post.maintenanceCost}"></div>
          </li>
          <li>
            <div class="content_name"><strong>위치</strong></div>
            <div class="content_description" th:text="서울시 + ${post.area}"></div>
          </li>
        </ul>
      </div>

      <div class="PersonalInfo">
        <div class="Personal">
          <addr title="매칭률"><i class="fa-solid fa-fire fa-4x match "></i></addr>
          <span class="percent" th:text="|${mathingScore}%|">80%</span>
          <div class="like_btn">
            <a th:href="@{/post/detailPost/like(postId = ${post.postId})}">

              <button class="btn_like" th:if="${likeCheck == true}">
                <i class="fa-solid fa-heart fa-2x Like " style="color: #ed2a07;"></i>
              </button>

              <button class="btn_like" th:if="${likeCheck == false}">
                <i class="fa-solid fa-heart fa-2x Like "></i>
              </button>

            </a>
          </div>
        </div>
        <span class="WriterId"th:text="${post.Uid}"></span>
        <span>님의 정보</span>
        <div class="Info">
          <i class="fa-sharp fa-solid fa-smoking fa-2x smoke"></i><span th:text="${writer.getUserDetail().getSmoking()}"> 흡연자</span>
          <i class="fa-solid fa-dog fa-2x pet"></i><span th:text="${writer.getUserDetail().getPet()}"></span> </br>
          <i class="fa-solid fa-venus-mars fa-2x gender "></i><span th:text="${writer.getUserDetail().getGender()}">여자</span>
          <i class="fa-solid fa-cloud-sun fa-2x pattern"></i><span th:text="${writer.getUserDetail().getLife_cycle()}"></span>
        </div>
        <a th:href="@{/member/checkIntroduction(userDetailId = ${writer.getUserDetail().getUserDetailId()},postId = ${postId})}">
          <button type="button"  class="btn btn-primary btn-lg btn-block">작성자 정보 보러가기</button>
        </a>
      </div>

      <div class="content_detail">
        <div class="cont_tit"><strong>상세 설명</strong></div>
        <div class="cont" th:text="${post.context}">
          이 집은 역이랑 5분거리라 가깝고 좋아요! 저와 함께 이 집에서 사실 룸메이트를 구해요!<br>
          즉시 입주 가능하고 투룸이라 같이 살기 좋아요! 주변에 CCTV,공동현관 보안이 잘 되어있고 유동인구가 많아 안심 귀가 할 수 있어요!
        </div>
      </div>

      <div class="my_comment">
        <form action="/post/detailPost/reply" method="POST">
          <div class="my_inner_commnet">
            <div class="my_id">
              <i class="fa-solid fa-user fa fa-2x"></i>
              <span th:text="${user_nickname}"></span>
            </div>
            <div class="my_text">
              <input type="text" cols="30" class="my_textarea" id="comment" name="comment">
              <input type="hidden" id="p_id" name="p_id" th:value="${postId}">
            </div>
            <div class="text_submit">
              <button type="submit">등록</button>
            </div>
          </div>
        </form>
      </div>



      <!--다른 사람이 작성한 댓글 칸 -->
      <div class="other_comment">
        <ul th:each="reply : ${replies}">
          <legend><strong>댓글</strong></legend>
          <li>
            <div class="other_inner_comment">
              <div class="other_id">
                <a th:href="@{/member/checkIntroduction(userDetailId = ${reply.getUser().getUserDetail().getUserDetailId()},postId = ${postId})}">
                  <i class="fa-solid fa-user fa fa-2x"></i>
                </a>
                <span th:text="${reply.user.nickname}"></span>
              </div>
              <div class="other_text">
                <span th:text="${reply.comment}">이집 마음에 들어요!</span>
              </div>
            </div>
          </li>

        </ul>
      </div>
      <div><div style="margin-left:160px; margin-top:20px;" class="map_wrap">
        <div id="map" style="; width:70%;height:100%;position:relative;overflow:hidden;"></div>

        <div id="menu_wrap" class="bg_white">
          <div class="option">
            <div>
              <form onsubmit="searchPlaces(); return false;">
                <input type="text" th:value="${post.area}" id="keyword" size="15">
                <button type="submit">검색하기</button>
              </form>
            </div>
          </div>
          <hr>
          <ul id="placesList"></ul>
          <div id="pagination"></div>
        </div>
      </div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script type="text/javascript" src="https://developers.kakao.com/sdk/js/kakao.js"></script>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=920fd624c2bffa5ae8ac7ad2a14cac73&libraries=services"></script>
        <script>
          // 마커를 담을 배열입니다
          var markers = [];

          var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                  mapOption = {
                    center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
                    level: 3 // 지도의 확대 레벨
                  };

          // 지도를 생성합니다
          var map = new kakao.maps.Map(mapContainer, mapOption);

          // 장소 검색 객체를 생성합니다
          var ps = new kakao.maps.services.Places();

          // 검색 결과 목록이나 마커를 클릭했을 때 장소명을 표출할 인포윈도우를 생성합니다
          var infowindow = new kakao.maps.InfoWindow({zIndex:1});

          // 키워드로 장소를 검색합니다
          searchPlaces();

          // 키워드 검색을 요청하는 함수입니다
          function searchPlaces() {

            var keyword = document.getElementById('keyword').value;

            if (!keyword.replace(/^\s+|\s+$/g, '')) {
              alert('키워드를 입력해주세요!');
              return false;
            }

            // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
            ps.keywordSearch( keyword, placesSearchCB);
          }

          // 장소검색이 완료됐을 때 호출되는 콜백함수 입니다
          function placesSearchCB(data, status, pagination) {
            if (status === kakao.maps.services.Status.OK) {

              // 정상적으로 검색이 완료됐으면
              // 검색 목록과 마커를 표출합니다
              displayPlaces(data);

              // 페이지 번호를 표출합니다
              displayPagination(pagination);

            } else if (status === kakao.maps.services.Status.ZERO_RESULT) {

              alert('검색 결과가 존재하지 않습니다.');
              return;

            } else if (status === kakao.maps.services.Status.ERROR) {

              alert('검색 결과 중 오류가 발생했습니다.');
              return;

            }
          }

          // 검색 결과 목록과 마커를 표출하는 함수입니다
          function displayPlaces(places) {

            var listEl = document.getElementById('placesList'),
                    menuEl = document.getElementById('menu_wrap'),
                    fragment = document.createDocumentFragment(),
                    bounds = new kakao.maps.LatLngBounds(),
                    listStr = '';

            // 검색 결과 목록에 추가된 항목들을 제거합니다
            removeAllChildNods(listEl);

            // 지도에 표시되고 있는 마커를 제거합니다
            removeMarker();

            for ( var i=0; i<places.length; i++ ) {

              // 마커를 생성하고 지도에 표시합니다
              var placePosition = new kakao.maps.LatLng(places[i].y, places[i].x),
                      marker = addMarker(placePosition, i),
                      itemEl = getListItem(i, places[i]); // 검색 결과 항목 Element를 생성합니다

              // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
              // LatLngBounds 객체에 좌표를 추가합니다
              bounds.extend(placePosition);

              // 마커와 검색결과 항목에 mouseover 했을때
              // 해당 장소에 인포윈도우에 장소명을 표시합니다
              // mouseout 했을 때는 인포윈도우를 닫습니다
              (function(marker, title) {
                kakao.maps.event.addListener(marker, 'mouseover', function() {
                  displayInfowindow(marker, title);
                });

                kakao.maps.event.addListener(marker, 'mouseout', function() {
                  infowindow.close();
                });

                itemEl.onmouseover =  function () {
                  displayInfowindow(marker, title);
                };

                itemEl.onmouseout =  function () {
                  infowindow.close();
                };
              })(marker, places[i].place_name);

              fragment.appendChild(itemEl);
            }

            // 검색결과 항목들을 검색결과 목록 Element에 추가합니다
            listEl.appendChild(fragment);
            menuEl.scrollTop = 0;

            // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
            map.setBounds(bounds);
          }

          // 검색결과 항목을 Element로 반환하는 함수입니다
          function getListItem(index, places) {

            var el = document.createElement('li'),
                    itemStr = '<span style="left:5px;" class="markerbg marker_' + (index+1) + '"></span>' +
                            '<div class="info">' +
                            '   <h5>' + places.place_name + '</h5>';

            if (places.road_address_name) {
              itemStr += '    <span>' + places.road_address_name + '</span>' +
                      '   <span class="jibun gray">' +  places.address_name  + '</span>';
            } else {
              itemStr += '    <span>' +  places.address_name  + '</span>';
            }

            itemStr += '  <span class="tel">' + places.phone  + '</span>' +
                    '</div>';

            el.innerHTML = itemStr;
            el.className = 'item';

            return el;
          }

          // 마커를 생성하고 지도 위에 마커를 표시하는 함수입니다
          function addMarker(position, idx, title) {
            var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png', // 마커 이미지 url, 스프라이트 이미지를 씁니다
                    imageSize = new kakao.maps.Size(36, 37),  // 마커 이미지의 크기
                    imgOptions =  {
                      spriteSize : new kakao.maps.Size(36, 691), // 스프라이트 이미지의 크기
                      spriteOrigin : new kakao.maps.Point(0, (idx*46)+10), // 스프라이트 이미지 중 사용할 영역의 좌상단 좌표
                      offset: new kakao.maps.Point(13, 37) // 마커 좌표에 일치시킬 이미지 내에서의 좌표
                    },
                    markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imgOptions),
                    marker = new kakao.maps.Marker({
                      position: position, // 마커의 위치
                      image: markerImage
                    });

            marker.setMap(map); // 지도 위에 마커를 표출합니다
            markers.push(marker);  // 배열에 생성된 마커를 추가합니다

            return marker;
          }

          // 지도 위에 표시되고 있는 마커를 모두 제거합니다
          function removeMarker() {
            for ( var i = 0; i < markers.length; i++ ) {
              markers[i].setMap(null);
            }
            markers = [];
          }

          // 검색결과 목록 하단에 페이지번호를 표시는 함수입니다
          function displayPagination(pagination) {
            var paginationEl = document.getElementById('pagination'),
                    fragment = document.createDocumentFragment(),
                    i;

            // 기존에 추가된 페이지번호를 삭제합니다
            while (paginationEl.hasChildNodes()) {
              paginationEl.removeChild (paginationEl.lastChild);
            }

            for (i=1; i<=pagination.last; i++) {
              var el = document.createElement('a');
              el.href = "#";
              el.innerHTML = i;

              if (i===pagination.current) {
                el.className = 'on';
              } else {
                el.onclick = (function(i) {
                  return function() {
                    pagination.gotoPage(i);
                  }
                })(i);
              }

              fragment.appendChild(el);
            }
            paginationEl.appendChild(fragment);
          }

          // 검색결과 목록 또는 마커를 클릭했을 때 호출되는 함수입니다
          // 인포윈도우에 장소명을 표시합니다
          function displayInfowindow(marker, title) {
            var content = '<div style="padding:5px;z-index:1;">' + title + '</div>';

            infowindow.setContent(content);
            infowindow.open(map, marker);
          }

          // 검색결과 목록의 자식 Element를 제거하는 함수입니다
          function removeAllChildNods(el) {
            while (el.hasChildNodes()) {
              el.removeChild (el.lastChild);
            }
          }
        </script></div>
    </div>
  </div>

  </div>
  <td>

  </td>
  <!-- script 구역 -->
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script>
        const SHOWING_CLASS = "showing";
        const firstslide = document.querySelector(".slider__item:first-child");
        function slide()
        {
          const currentslide = document.querySelector(`.${SHOWING_CLASS}`);
          if(currentslide)
          {
                currentslide.classList.remove(SHOWING_CLASS);
                const nextSlide = currentslide.nextElementSibling;
                if(nextSlide){
                    nextSlide.classList.add(SHOWING_CLASS);
                }else{
                    firstslide.classList.add(SHOWING_CLASS);
                }
          }else{
            firstslide.classList.add(SHOWING_CLASS);
          }
        }
        slide();
        setInterval(slide,3000);

        $(document).ready(function()
        {
            let message = "[[${reply_msg}]]";
            if (message != "") {
                alert(message);
            }else {}
        })

        $(document).ready(function()
        {
            let message = "[[${like_msg}]]";
            if (message != "") {
                alert(message);
            }else {}
        })

        $(document).ready(function()
        {
            let message = "[[${no_login}]]";
            if (message != "") {
                alert(message);
            }else {}
        })

        $(document).ready(function()
        {
            let message = "[[${new_reply_write_success}]]";
            if (message != "") {
                alert(message);
            }else {}
        })

        $(document).ready(function()
        {
            let message = "[[${modify_reply_write_success}]]";
            if (message != "") {
                alert(message);
            }else {}
        })


    </script>




  </body>
</th:block>
</html>