<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<th:block layout:fragment="css">
  <link rel="stylesheet" href="/post/detailPost.css" />
</th:block>

<th:block layout:fragment="content">

  <body>
  <div class="container" >

    <div class="slider"> <!--이미지를 담고 있는 div-->

      <div class="slider__item" th:each="image : ${images}">
        <img class="post_img" th:src="@{/image/}+${image.filename}">
      </div>
    </div>
    <!--방과 사람 정보-->
    <div class="ContentBox">
      <h4 class="ContentTit"><strong>방 정보</strong></h4>
      <div class="Content">
        <ul>
          <li>
            <div class="content_name"><strong>보증금</strong></div>
            <div class="content_description" th:text="${post.lease}"></div>
          </li>

          <li>
            <div class="content_name"><strong>월세</strong></div>
            <div class="content_description" th:text="${post.mounthly}"></div>
          </li>
          <li>
            <div class="content_name"><strong>관리비</strong></div>
            <div class="content_description" ></div>
          </li>
          <li>
            <div class="content_name"><strong>위치</strong></div>
            <div class="content_description" th:text="서울시 + ${post.area}"></div>
          </li>
        </ul>
      </div>

      <div class="PersonalInfo">
        <div class="Personal">
          <i class="fa-solid fa-user fa fa-4x PersonalIcon"></i>
          <addr title="매칭률"><i class="fa-solid fa-fire fa-4x match "></i></addr>
          <span class="percent">80%</span>
        </div>
        <span class="WriterId"th:text="${post.Uid}"></span>
        <span>님의 정보</span>
        <div class="Info">
          <i class="fa-sharp fa-solid fa-smoking fa-2x smoke"></i><span th:text="${writer.getUserDetail().getSmoking()}"> 흡연자</span>
          <i class="fa-solid fa-dog fa-2x pet"></i><span th:text="${writer.getUserDetail().getPet()}"></span> </br>
          <i class="fa-solid fa-venus-mars fa-2x gender "></i><span th:text="${writer.getUserDetail().getGender()}">여자</span>
          <i class="fa-solid fa-cloud-sun fa-2x pattern"></i><span th:text="${writer.getUserDetail().getLife_cycle()}"></span>
        </div>
        <button type="button" onclick="location.href='/member/checkIntroduction'" class="btn btn-primary btn-lg btn-block">작성자 정보 보러가기</button>

      </div>
      <button type="button"><i class="fa-solid fa-heart fa-2x Like"></i></button>
      <!-- 댓글 html-->
      <div class="comment">

        <div class="my_comment">
          <form action="/post/detailPost/reply" method="POST">
            <div class="my_inner_commnet">
              <div class="my_id">
                <i class="fa-solid fa-user fa fa-2x"></i>
                <span th:text="${userId}"></span>
              </div>
              <div class="my_text">
                <input type="text" cols="30" class="my_textarea" id="comment" name="comment">
                <input type="hidden" id="p_id" name="p_id" th:value="${postId}">
              </div>
              <div class="text_submit">
                <button type="submit">등록</button>
              </div>
            </div>
          </form>
        </div>



        <!--다른 사람이 작성한 댓글 칸 -->
        <div class="other_comment">
          <ul th:each="reply : ${replies}">
            <legend><strong>댓글</strong></legend>
            <li>
              <div class="other_inner_comment">
                <div class="other_id">
                  <i class="fa-solid fa-user fa fa-2x"></i>
                  <span th:text="${reply.user.uid}"></span>
                </div>
                <div class="other_text">
                  <span th:text="${reply.comment}">이집 마음에 들어요!</span>
                </div>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </div>

  </div>
  <td>

  </td>
  <!-- script 구역 -->
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script>
        const SHOWING_CLASS = "showing";
        const firstslide = document.querySelector(".slider__item:first-child");
        function slide()
        {
          const currentslide = document.querySelector(`.${SHOWING_CLASS}`);
          if(currentslide)
          {
                currentslide.classList.remove(SHOWING_CLASS);
                const nextSlide = currentslide.nextElementSibling;
                if(nextSlide){
                    nextSlide.classList.add(SHOWING_CLASS);
                }else{
                    firstslide.classList.add(SHOWING_CLASS);
                }
          }else{
            firstslide.classList.add(SHOWING_CLASS);
          }
        }
        slide();
        setInterval(slide,3000);
                $(document).ready(function()
        {
            let message = "[[${reply_msg}]]";
            if (message != "") {
                alert(message);
            }else {}
            })

        $(document).ready(function()
        {
            let message = "[[${like_msg}]]";
            if (message != "") {
                alert(message);
            }else {}
            })
    </script>




  </body>
</th:block>
</html>