<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<th:block layout:fragment="css">
  <link rel="stylesheet" href="/post/postlist.css" />
</th:block>

<th:block layout:fragment="content">

  <body>
  <div class="container">

    <div class="post_row_wrap">


      <div class="post_container">
        <div class="slider">
          <a href="/detailPost"><img class="detailPost_img" src="https://img.freepik.com/premium-photo/3d-rendering-of-modern-living-room-with-tv-screen-and-sofa-on-nature-background_224530-1796.jpg?w=2000"/></a>
        </div>
        <div class="list_word">
          <div class="subject"> 강남구 집구해요</div>
          <div class="explain">서울시 강남구 집 구해요</div>
        </div>

      </div>


      <div class="post_container">
        <div class="slider">
          <a href="/detailPost"><img class="detailPost_img" src="https://img.freepik.com/premium-photo/3d-rendering-of-modern-living-room-with-tv-screen-and-sofa-on-nature-background_224530-1796.jpg?w=2000"/></a>
        </div>
        <div class="list_word">
          <div class="subject"> 강남구 집구해요</div>
          <div class="explain">서울시 강남구 집 구해요</div>
        </div>
      </div>

    </div>

    <div class="post_row_wrap">

      <div class="post_container">
        <div class="slider">
          <a href="/detailPost"><img class="detailPost_img" src="https://img.freepik.com/premium-photo/3d-rendering-of-modern-living-room-with-tv-screen-and-sofa-on-nature-background_224530-1796.jpg?w=2000"/></a>
        </div>
        <div class="list_word">
          <div class="subject"> 강남구 집구해요</div>
          <div class="explain">서울시 강남구 집 구해요</div>
        </div>
      </div>

      <div class="post_container">
        <div class="slider">
          <a href="/detailPost"><img class="detailPost_img" src="https://img.freepik.com/premium-photo/3d-rendering-of-modern-living-room-with-tv-screen-and-sofa-on-nature-background_224530-1796.jpg?w=2000"/></a>
        </div>
        <div class="list_word">
          <div class="subject"> 강남구 집구해요</div>
          <div class="explain">서울시 강남구 집 구해요</div>
        </div>
      </div>

    </div>

    <div class="post_row_wrap">

      <div class="post_container">
        <div class="slider">
          <a href="/detailPost"><img class="detailPost_img" src="https://img.freepik.com/premium-photo/3d-rendering-of-modern-living-room-with-tv-screen-and-sofa-on-nature-background_224530-1796.jpg?w=2000"/></a>
        </div>
        <div class="list_word">
          <div class="subject"> 강남구 집구해요</div>
          <div class="explain">서울시 강남구 집 구해요</div>
        </div>
      </div>

      <div class="post_container">
        <div class="slider">
          <a href="/detailPost"><img class="detailPost_img" src="https://img.freepik.com/premium-photo/3d-rendering-of-modern-living-room-with-tv-screen-and-sofa-on-nature-background_224530-1796.jpg?w=2000"/></a>
        </div>
        <div class="list_word">
          <div class="subject"> 강남구 집구해요</div>
          <div class="explain">서울시 강남구 집 구해요</div>
        </div>
      </div>

    </div>


  </div>





  </body>
</th:block>
</html>