<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="headerFragment">
        <div class="header__wrapper">
            <div class="header__header">
                <div class="header__colum">
                    <h1 id="header_logo"> <a id="header_category" href=""><i class="fa-solid fa-bars fa-lg"></i></a>
                        <a id="header__logo" href=""><i class="fa-solid fa-house"></i>Together</a></h1>
                </div>
                <div class="header__colum">
                    <ul class="login_header">
                        <c:choose>
                            <c:when test="!loggerUser">
                                <li><a class="login" href="">로그인</a></li>
                                <li><a class="login" href="">회원가입</a></li>
                                <li><a class="bell" href=""><i class="fa-solid fa-bell fa-lg"></i></a></li>
                            </c:when>
                            <c:otherwise>
                                <li><a class="login" href="">로그아웃</a></li>
                                <li><a class="bell" href=""><i class="fa-solid fa-bell fa-lg"></i></a></li>
                            </c:otherwise>
                        </c:choose>
                    </ul>
                </div>
            </div>
        <div id="personal_icons" class="header__colum">
            <ul class="login_header">
                <li><a class="icon" href=""><i class="fa-solid fa-user fa-2x"></i></a></li>
                <li><a class="icon" href=""><i class="fa-solid fa-heart fa-2x"></i></a></li>
                <li><a class="icon" href=""><i class="fa-solid fa-pencil fa-2x"></i></a></li>
            </ul>
        </div>
        </div>
    </th:block>
</html>