@CHARSET "UTF-8";
*{
padding : 0;
margin : 0;
}
.header__header{
display:flex;
justify-content:space-between;
}

.login_header{
list-style:none;

}

li{
display:inline;
}

#personal_icons{
display:flex;
justify-content:flex-end;
}
