<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/member/agree.css}"  type="text/css"/>
</th:block>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

   <form>


     <div class="article__box" style="overflow:scroll; width:500px; height:200px;">
      <div class="article">
          <h3 class="article__title">여러분을 환영합니다.</h3>
         <p class="article__text">
          Together 서비스 및 제품(이하 ‘서비스’)을 이용해 주셔서 감사합니다.
           본 약관은 다양한 Together 서비스의 이용과 관련하여 Together 서비스를 제공하는 Together와
           이를 이용하는 Together 서비스 회원(이하 ‘회원’) 또는 비회원과의 관계를 설명하며,
           아울러 여러분의 Together 서비스 이용에 도움이 될 수 있는 유익한 정보를 포함하고 있습니다.
         </p>

         <p class="article__text">
           여러분은 본 약관을 읽고 동의하신 후 회원 가입을 신청하실 수 있으며,
           Together는 이에 대한 승낙을 통해 회원 가입 절차를 완료하고 여러분께 Together 서비스 이용 계정(이하 ‘계정’)을 부여합니다.
           계정이란 회원이 togethers 서비스에 로그인한 이후 이용하는 각종 서비스 이용 이력을 회원 별로 관리하기 위해 설정한 회원 식별 단위를 말합니다.
           회원은 자신의 계정을 통해 좀더 나은 Together 서비스를 보다 편리하게 이용할 수 있습니다.

         </p>
         <p class="article__text">
           Together는 단체에 속한 여러 구성원들이 공동의 계정으로 Together 서비스를 함께 이용할 수 있도록 단체회원 계정도 부여하고 있습니다.
           단체회원 구성원들은 하나의 계정 및 아이디(ID)를 공유하되 각자 개별적으로 설정한 비밀번호를 입력하여 계정에 로그인하고 각종 서비스를 이용하게 됩니다.
         </p>
      </div>
     </div>
       <div class="input_chk">
           <input type="checkbox" id="termsService" name="termsService" class="chk" required>
           <label for="termsService">Together 이용약관 동의<span class="terms_necessary">(필수)</span></label>
       </div>


         <div class="article">
        <div class="article__box" style="overflow:scroll; width:500px; height:200px;">
             <h3 class="article__title">여러분의 개인정보를 소중히 보호합니다.</h3>
             <p class="article__text">
                 together는 서비스의 원활한 제공을 위하여 회원이 동의한 목적과 범위 내에서만 개인정보를 수집∙이용하며, 개인정보 보호 관련 법령에 따라 안전하게 관리합니다.
                 Together가 이용자 및 회원에 대해 관련 개인정보를 안전하게 처리하기 위하여 기울이는 노력을 확인하실 수 있습니다.

             </p>
             <p class="article__text">
                 Together는 여러분이 서비스를 이용하기 위해 일정 기간 동안 로그인 혹은 접속한 기록이 없는 경우, 전자메일, 서비스 내 알림 또는 기타 적절한 전자적 수단을 통해 사전에 안내해 드린 후 여러분의 정보를 파기하거나 분리 보관할 수 있으며,
                 만약 이로 인해 서비스 제공을 위해 필수적인 정보가 부족해질 경우 부득이 관련 서비스 이용계약을 해지할 수 있습니다.
             </p>

          </div>
         </div>
       <div class="input_chk">
           <input type="checkbox" id="privacy" name="termsService" class="chk" required>
           <label for="termsService">Together 이용약관 동의<span class="terms_necessary">(필수)</span></label>
       </div>



         <div class="article__box" style="overflow:scroll; width:500px; height:200px;">
         <h3 class="article__title">togethers 서비스 이용과 관련하여 몇 가지 주의사항이 있습니다.</h3>
         <p class="article__text">
             Together는 여러분이 togethers 서비스를 자유롭고 편리하게 이용할 수 있도록 최선을 다하고 있습니다.
             다만, 여러분이 Together 서비스를 보다 안전하게 이용하고 Together 서비스에서 여러분과 타인의 권리가 서로 존중되고 보호받으려면
             여러분의 도움과 협조가 필요합니다. 여러분의 안전한 서비스 이용과 권리 보호를 위해 부득이 아래와 같은 경우
             여러분의 게시물 게재나 Together 서비스 이용이 제한될 수 있으므로, 이에 대한 확인 및 준수를 요청 드립니다.
         </p>
         <ul class="article__text">
             <li class="article__text__list">
                 회원 가입 시 이름, 생년월일, 휴대전화번호 등의 정보를 허위로 기재해서는 안 됩니다.
                 회원 계정에 등록된 정보는 항상 정확한 최신 정보가 유지될 수 있도록 관리해 주세요.
                 자신의 계정을 다른 사람에게 판매, 양도, 대여 또는 담보로 제공하거나 다른 사람에게 그 사용을 허락해서는 안 됩니다.
                 아울러 자신의 계정이 아닌 타인의 계정을 무단으로 사용해서는 안 됩니다.
                 이에 관한 상세한 내용은 <em>계정 운영정책</em>을 참고해 주시기 바랍니다.
             </li>
             <li class="article__text__list">
                 타인에 대해 직접적이고 명백한 신체적 위협을 가하는 내용의 게시물, 타인의 자해 행위 또는 자살을 부추기거나 권장하는 내용의 게시물,
                 타인의 신상정보, 사생활 등 비공개 개인정보를 드러내는 내용의 게시물, 타인을 지속적으로 따돌리거나 괴롭히는 내용의 게시물, 성매매를 제안, 알선,
                 유인 또는 강요하는 내용의 게시물, 공공 안전에 대해 직접적이고 심각한 위협을 가하는 내용의 게시물은 제한될 수 있습니다.
             </li>
             <li class="article__text__list">
                 관련 법령상 금지되거나 형사처벌의 대상이 되는 행위를 수행하거나 이를 교사 또는 방조하는 등의 범죄 관련 직접적인 위험이 확인된 게시물,
                 <span class="article__text">관련 법령에서 홍보, 광고, 판매 등을 금지하고 있는 물건 또는 서비스를 홍보, 광고, 판매하는 내용의 게시물,</span> 타인의 지식재산권 등을 침해하거나 모욕,
                 사생활 침해 또는 명예훼손 등 타인의 권리를 침해하는 내용이 확인된 게시물은 제한될 수 있습니다.
             </li>
             <li class="article__text__list">
                 자극적이고 노골적인 성행위를 묘사하는 등 타인에게 성적 수치심을 유발시키거나 왜곡된 성 의식 등을 야기할 수 있는 내용의 게시물,
                 타인에게 잔혹감 또는 혐오감을 일으킬 수 있는 폭력적이고 자극적인 내용의 게시물, <span class="article__text">본인 이외의 자를 사칭하거나 허위사실을 주장하는 등 타인을 기만하는 내용의 게시물,</span>
                 과도한 욕설, 비속어 등을 계속하여 반복적으로 사용하여 심한 혐오감 또는 불쾌감을 일으키는 내용의 게시물은 제한될 수 있습니다.
             </li>
         </ul>
         </div>
         </div>
       <div class="input_chk">
           <input type="checkbox" id="warning" name="termsService" class="chk" required>
           <label for="termsService">Together 이용약관 동의<span class="terms_necessary">(필수)</span></label>
       </div>
       <span class="error" id="agreeMsg" style="display:none">네이버 이용약관과 개인정보 수집 및 이용에 대한 안내 모두 동의해주세요.</span>
              <a name='agreeBottom'></a>
             <div class="btn_area double">
                 <button type="button" onclick="location.href='/'" id="btnCancel" class="btn_type btn_default" >취소</button>
                 <button id="btnAgree" onclick="location.href='/join'" class="btn_type btn_primary" >확인</button>
             </div>
         </form>

</body>
</html>