<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/home_layout">
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/home.css" />
</th:block>



<th:block layout:fragment="content">
    <div class="gradient_box"></div>
    <div class="home__wrapper">

        <div class="section_box">
            <div class="home_column">
                <div id="notice_box" class="section__box">
                    <i class="fa-solid fa-plus"></i>
                    <span id="notice_icon" class="fa-solid fa-pius">공지사항</span>
                    <hr color="#000">
                </div>
            </div>

            <div class="home_column">
                <div id="map_box" class="section__box">
                </div>
            </div>
        </div>
        <div class="home_column">
            <div id="ad_box" class="section__box">
            </div>
        </div>
    </div>

</th:block>
</html>