<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link rel="stylesheet"  th:href="@{/css/bootstrap.css}" type="text/css"/>
    <link rel="stylesheet"  th:href="@{/member/join.css}" type="text/css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="./js/join.js?ver=123"></script>
    <title>Together | 회원가입</title>
</head>
<header>
    <div class="join__logo">
    <h1 id="join__logo">
        <a id="join_logo" href="/"><img src="../image/logo2.jpg" width="175" height ="100" >  </a>
    </h1>
</div>
</header>
<body>

<th:block layout:fragment="content">

    <div class="container">

        <div class="join__tit">
            <h1 class="join_title"><span> 회원가입</span></h1>
        </div>
        </h1>
        <form class="join_column" th:action="@{/auth/joinProc}" th:method="POST">
            <h5>이름</h5>
            <div class="join__column" id="join_name">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="이름" aria-label="Recipient's username" aria-describedby="button-addon2" required>
            </div>
            </div>
            <h5>닉네임</h5>
            <div class="join__column" id="join_nickname">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="닉네임" aria-label="Recipient's username" aria-describedby="button-addon2" required>
                </div>
            </div>
            <h5>아이디</h5>
            <div class="join__column" id="join_id">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="아이디" aria-label="Recipient's username" aria-describedby="button-addon2" required>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">중복확인</button>
                </div>
            </div>

        </div>
            <h5>비밀번호</h5>
        <div class="join__column" id="join_passward">
            <input autocomplete="false" type="password" placeholder="비밀번호" aria-label="passward" aria-describedby="button-addon2"class="form-control key" required />
            <div class="keyShow">비밀번호 표시</div>

            <input autocomplete="false" type="password" placeholder="비밀번호" aria-label="passward" aria-describedby="button-addon2"class="form-control key" required />
        </div>
        <div class="join__column" id="join_birth">
            <h5>생년월일</h5>
            <input type="date" name="생년월일" required/>
        </div>
        <div class="join__column" id="join_tel">
            <h5>전화번호</h5>
            <div class="input-group mb-3">
                <input type="tel" class="form-control" placeholder="전화번호" aria-label="Recipient's username" aria-describedby="button-addon2" required>
                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-secondary">본인인증</button>
                </div>
            </div>
        </div>
            <h5>이메일</h5>
        <div class="join__column" id="join_email">
            <input type="text" class="form-control" placeholder="이메일" aria-label="email" aria-describedby="button-addon2" required>
            <div class="input-group">
                <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                    <option value="">-선택-</option>
                    <option value="naver.com">naver.com</option>
                    <option value="gmail.com">gmail.com</option>
                    <option value="hanmail.net">hanmail.net</option>
                    <option value="hotmail.com">hotmail.com</option>
                    <option value="korea.com">korea.com</option>
                    <option value="nate.com">nate.com</option>
                    <option value="yahoo.com">yahoo.com</option>
                </select>
            </div>
        </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">가입하기</button>
            <div class="join__column">
                <span>--------------------------------------- or ---------------------------------------</span>
            </div>
            <div class="join_sns">
                <ul class="list-group">
                    <li class="list-group-item"><a class="login_sns_icon"  href=""><i class="fa-brands fa-google" ></i> 구글 계정으로 가입하기</a></li>
                    <li class="list-group-item"><a class="login_sns_icon"  href=""><i class="fab fa-facebook-f"></i> 페이스북 계정으로 가입하기</a></li>
                    <li class="list-group-item"><a class="login_sns_icon"  href=""><i class="fab fa-twitter"></i> 트위터 계정으로 가입하기</a></li>
                </ul>
            </div>
		</script>
        </form>
    </div>
    </div>


    <script type="text/javascript" th:src="@{/js/join.js}"></script>
</th:block>

</body>

</html>