<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link rel="stylesheet"  th:href="@{/css/bootstrap.css}" type="text/css"/>
    <link rel="stylesheet"  th:href="@{/member/join.css}" type="text/css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" th:src="@{/js/join.js}"></script>
    <title>Together | 회원가입</title>
</head>
<header>
    <div class="join__logo">
        <h1 id="join__logo">
            <a id="join_logo" href="/"><img src="../image/logo2.jpg" width="175" height ="100" >  </a>
        </h1>
    </div>
</header>
<body>

<th:block layout:fragment="content">

    <div class="container">

        <div class="join__tit">
            <h1 class="join_title"><span> 회원가입</span></h1>
        </div>
        </h1>
        <form class="join_column" th:action="@{/member/new}" th:object="${dto}" th:method="POST">
            <h5>이름</h5>
            <div class="join__column" id="join_name">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="이름" th:field="*{name}" aria-label="Recipient's username" aria-describedby="button-addon2" required>
                </div>
            </div>
            <h5>닉네임</h5>
            <div class="join__column" id="join_nickname">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="닉네임" th:field="*{nickname}" aria-label="Recipient's username" aria-describedby="button-addon2" required>
                </div>
            </div>
            <h5>아이디</h5>
            <div class="join__column" id="join_id">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" th:field="*{id}" id="id" name="id" oninput="checkId()" placeholder="아이디" aria-label="Recipient's username" aria-describedby="button-addon2" required>
                    <span class = "id_ok"> 사용 가능한 아이디 입니다.</span>
                    <span class = "id_already">이미 존재하는 아이디 입니다.</span>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">중복확인</button>
                    </div>
                </div>

            </div>
            <h5>비밀번호</h5>
            <div class="join__column" id="join_passward">
                <input type="password" class="form-control" th:field="*{password}" placeholder="비밀번호" aria-label="passward" aria-describedby="button-addon2" required>
                <i class="fas fa-eye"></i>
                <input type="password" class="form-control" placeholder="비밀번호 확인" aria-label="check_passward" aria-describedby="button-addon2" required>
                <i class="fas fa-eye" id="show-password"></i>
            </div>
            <div class="join__column" id="join_birth">
                <h5>생년월일</h5>
                <input type="date" th:field ="*{birth}" required/>
            </div>
            <div class="join__column" id="join_tel">
                <h5>전화번호</h5>
                <div class="input-group mb-3">
                    <input type="tel" class="form-control" th:field="*{phoneNum}" placeholder="전화번호" aria-label="Recipient's username" aria-describedby="button-addon2" required>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary">본인인증</button>
                    </div>
                </div>
            </div>
            <h5>이메일</h5>
            <div class="join__column" id="join_email">
                <input type="text" class="form-control" th:field="*{email}" placeholder="이메일" aria-label="email" aria-describedby="button-addon2" required>
                <div class="input-group">
                    <select class="custom-select" th:field="*{domain}" aria-label="Example select with button addon">
                        <option value="">-선택-</option>
                        <option th:value="naver.com">naver.com</option>
                        <option th:value="gmail.com">gmail.com</option>
                        <option th:value="hanmail.net">hanmail.net</option>
                        <option th:value="hotmail.com">hotmail.com</option>
                        <option th:value="korea.com">korea.com</option>
                        <option th:value="nate.com">nate.com</option>
                        <option th:value="yahoo.com">yahoo.com</option>
                    </select>
                </div>
            </div>
            <div class="join__submit">
                <button type="submit" class="btn btn-primary btn-lg btn-block">가입하기</button>
            </div>
            <div class="join__column">
                <span>--------------------------------------- or ---------------------------------------</span>
            </div>
            <div class="join_sns">
                <ul class="list-group">
                    <li class="list-group-item"><a class="login_sns_icon"  th:href="@{https://kauth.kakao.com/oauth/authorize(client_id = ${kakao_client_id}, redirect_uri='http://loaclhost:8081/kakao_callback', response_type = 'code')}"><i class="fa-solid fa-comment"></i> 카카오 계정으로 가입하기</a></li>
                    <li class="list-group-item"><a class="login_sns_icon"  th:href="@{https://nid.naver.com/oauth2.0/authorize(response_type = 'code', client_id = ${naver_client_id}, redirect_uri = 'http://localhost:8081/naver_callback')}"><i class="fa-solid fa-n"></i> 네이버 계정으로 가입하기</a></li>
                    <li class="list-group-item"><a class="login_sns_icon"  th:href="@{https://accounts.google.com/o/oauth2/v2/auth(response_type = 'code', client_id = ${google_client_id}, redirect_uri = 'http://localhost:8081/google_callback', scope = 'https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email')}"><i class="fa-brands fa-google"></i> 구글 계정으로 가입하기</a></li>
                </ul>
            </div>

            </script>
        </form>
    </div>
    </div>

</th:block>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script>
            $(document).ready(function() {
            let message = "[[${DuplicatedIdError}]]";
            if (message != "") {
                alert(message);
             }else {}
            })


    </script>
</body>

</html>