<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link rel="stylesheet"  th:href="@{/member/join.css}" type="text/css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Together | 회원가입</title>
</head>
<body>

<th:block layout:fragment="content">
        <div class="join__logo">
                <h1><a href="/"><i class="fa-solid fa-house fa-lg"></i>Together</a>
                    <h2 > 회원가입</h2>
                </h1>
        </div>
    <div class="container">
        <form class="join_column" th:action="@{/auth/joinProc}" th:method="POST">
        <div class="join__column" id="join_id">
            <h4>아이디</h4>
            <input type="text" placeholder="아이디"/>
            <button class="check_id">중복확인</button>
        </div>
        <div class="join__column" id="join_passward">
            <h4>비밀번호</h4>
            <input type="text" placeholder="비밀번호"/>
            <input type="text" placeholder="비밀번호 확인"/>
        </div>
        <div class="join__column" id="join_birth">
            <h4>생년월일</h4>
            <input type="date" name="생년월일"/>
        </div>
        <div class="join__column" id="join_tel">
            <h4>전화번호</h4>
            <input type="tel" name="전화번호"/>
            <button >본인 인증</button>
        </div>
        <div class="join__column" id="join_email">
            <h4>이메일</h4>
            <input type="text" name="이메일" maxlength="18"/>@
            <select class="select" title="이메일 도메인 주소 선택" onclick="setEmailDomain(this.value);return false;">
                <option value="">-선택-</option>
                <option value="naver.com">naver.com</option>
                <option value="gmail.com">gmail.com</option>
                <option value="hanmail.net">hanmail.net</option>
                <option value="hotmail.com">hotmail.com</option>
                <option value="korea.com">korea.com</option>
                <option value="nate.com">nate.com</option>
                <option value="yahoo.com">yahoo.com</option>
            </select>
        </div>
            <button class="join">가입하기</button>
            <div class="join__column">
                <span>----------------------------- or -------------------------------------</span>
            </div>
            <div class="join_sns">
                <li><a class="login_sns_icon" href=""><i class="fa-brands fa-google"></i> 구글 계정으로 로그인하기</a></li>
                <li><a class="login_sns_icon" href=""><i class="fab fa-facebook-f"></i> 페이스북 계정으로 로그인하기</a></li>
                <li><a class="login_sns_icon" href=""><i class="fab fa-twitter"></i> 트위터 계정으로 로그인하기</a></li>
            </div>
        </form>
    </div>

</th:block>
</body>
</html>