<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<th:block layout:fragment="css">
  <link rel="stylesheet" href="/writeMonth.css" />
</th:block>
<th:block layout:fragment="content">
  <style>
</style>
  <body>
  <div class="write_container">
    <form class="write_column" th:action="@{/writeMonth}" th:method="POST" th:object="${Dto}" enctype="multipart/form-data">
      <div class="write_wrapper">
        <div class="write__content">
          <div class="write_column">

            <div class="option__column" >
              <div class="input-group">
                <select class="custom-select" th:field="*{areaName}" aria-label="Example select with button addon" required>
                  <option th:each="area : ${areaEnum}" th:value="${area}" th:text="${area}">-지역선택-</option>
                </select>
              </div>


            </div>
            <input class="write_submit" type="submit" value="글올리기">

          </div>
          <div class="title_column">
            <input class="write_title" type="text" th:field="*{title}" placeholder="제목">
          </div>
          <div class="write_location">
            <input class="location" type="text" placeholder="주소">
          </div>
          <div class="write_price">
            <input class="write__price" type="text" th:field="*{deposit}" placeholder="보증금">
            <input class="write__price" type="text" th:field="*{monthly}" placeholder="월세">
            <input class="write__price" type="text" th:field="*{Management_fee}" placeholder="관리비">
          </div>

          <div class="house_img">
            <img id="write-img" src="https://www.zipdeco.co.kr/upload/2017/07/21/EDITOR_201707210201236390_YQJAH"/>
            <input class="img-input" type="file" name="file">

            <textarea class="house_detail" th:field="*{context}" cols="37" rows="7"></textarea>

            <div class="answer">
              <h4>게시물 작성 후 다른 사람들이 연락할 수 있게 연락수단을 댓글로 남겨주세요.
                <input type="radio" name="answer" required > 확인했습니다<br></h4>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
<!--
  <script type="text/javascript">

             alert("글을 올리기 전에 원본 작성자에게 허락을 받았나요?");

            </script>
!-->
  </body>

</th:block>
</body>
</html>