<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<th:block layout:fragment="css">
<head>
  <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />

  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>

  <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" ></script>
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="./js/write.js?ver=123"></script>
</head>

  <link rel="stylesheet" href="/writeBeforePay.css" />
</th:block>
<th:block layout:fragment="content">

  <body>
  <div class="write_container">
    <form class="write_column" th:action="@{/writeBeforePay}" th:method="POST" th:object="${dto}" enctype="multipart/form-data">
      <div class="write_wrapper">
        <div class="write__content">
          <div class="write_column">

            <div class="option__column" >
              <div class="input-group">
                  <select class="custom-select" th:field="*{area}" aria-label="Example select with button addon" required>
                    <option th:each="area: ${areaEnum}" th:value="${area}" th:text="${area}"></option>
                  </select>
              </div>
              <input class="write_submit" type="submit" value="글올리기">
              <div class="title_column">
                <input class="write_title" type="text" th:field="*{title}" style="width:750px" placeholder="제목" required>
              </div>
              <div class="detail_column">
                <input class="write_detail" type="text" style="width:750px" placeholder="주소">
              </div>
            </div>

          </div>
          <div class="write_price">
            <input class="write_price" type="text" th:field="*{deposit}" placeholder="보증금">
            <input class="write__price" type="text" th:field="*{Management_fee}" placeholder="관리비">
          </div>

            <div id='image_preview'>
              <input type='file' id='btnAtt' name="btnAtt" multiple='multiple' />
              <div id='att_zone'
                   data-placeholder='파일을 첨부 하려면 파일 선택 버튼을 클릭하거나 파일을 드래그앤드롭 하세요'></div>
            </div>

            <textarea placeholder="방이나 본인에 대해서 설명해주세요" class="house_detail" th:field="*{context}" cols="37" rows="7" required></textarea>
           <div class="answer">
            <h4 class="last">게시물 작성 후 다른 사람들이 연락할 수 있게 연락수단을 댓글로 남겨주세요.
            <input type="radio" name="answer" required > 확인했습니다<br></h4>
            </div>
          </div>
        </div>
       </form>
      </div>
  <svg width="800" height="600"></svg>

  <script>
( /* att_zone : 이미지들이 들어갈 위치 id, btn : file tag id */
  imageView = function imageView(att_zone, btn){

    var attZone = document.getElementById(att_zone);
    var btnAtt = document.getElementById(btn)
    var sel_files = [];

    // 이미지와 체크 박스를 감싸고 있는 div 속성
    var div_style = 'display:inline-block;position:relative;'
                  + 'width:150px;height:120px;margin:5px;border:1px solid #00f;z-index:1';
    // 미리보기 이미지 속성
    var img_style = 'width:100%;height:100%;z-index:none';
    // 이미지안에 표시되는 체크박스의 속성
    var chk_style = 'width:30px;height:30px;position:absolute;font-size:24px;'
                  + 'right:0px;bottom:0px;z-index:999;background-color:rgba(255,255,255,0.1);color:#f00';

    btnAtt.onchange = function(e){
      var files = e.target.files;
      var fileArr = Array.prototype.slice.call(files)
      for(f of fileArr){
        imageLoader(f);
      }
    }


    // 탐색기에서 드래그앤 드롭 사용
    attZone.addEventListener('dragenter', function(e){
      e.preventDefault();
      e.stopPropagation();
    }, false)

    attZone.addEventListener('dragover', function(e){
      e.preventDefault();
      e.stopPropagation();

    }, false)

    attZone.addEventListener('drop', function(e){
      var files = {};
      e.preventDefault();
      e.stopPropagation();
      var dt = e.dataTransfer;
      files = dt.files;
      for(f of files){
        imageLoader(f);
      }

    }, false)



    /*첨부된 이미리즐을 배열에 넣고 미리보기 */
    imageLoader = function(file){
      sel_files.push(file);
      var reader = new FileReader();
      reader.onload = function(ee){
        let img = document.createElement('img')
        img.setAttribute('style', img_style)
        img.src = ee.target.result;
        attZone.appendChild(makeDiv(img, file));
      }

      reader.readAsDataURL(file);
    }

    /*첨부된 파일이 있는 경우 checkbox와 함께 attZone에 추가할 div를 만들어 반환 */
    makeDiv = function(img, file){
      var div = document.createElement('div')
      div.setAttribute('style', div_style)

      var btn = document.createElement('input')
      btn.setAttribute('type', 'button')
      btn.setAttribute('value', 'x')
      btn.setAttribute('delFile', file.name);
      btn.setAttribute('style', chk_style);
      btn.onclick = function(ev){
        var ele = ev.srcElement;
        var delFile = ele.getAttribute('delFile');
        for(var i=0 ;i<sel_files.length; i++){
          if(delFile== sel_files[i].name){
            sel_files.splice(i, 1);
          }
        }

        dt = new DataTransfer();
        for(f in sel_files) {
          var file = sel_files[f];
          dt.items.add(file);
        }
        btnAtt.files = dt.files;
        var p = ele.parentNode;
        attZone.removeChild(p)
      }
      div.appendChild(img)
      div.appendChild(btn)
      return div
    }
  }
)('att_zone', 'btnAtt')
  const data = {
        nodes: [
          { id: "myhashtag1", group: 1 },
          { id: "myhashtag2", group: 1 },
          { id: "myhashtag3", group: 2 },
          { id: "myhashtag4", group: 2 }
        ],
        links: [
          { source: "myhashtag1", target: "myhashtag2" },
          { source: "myhashtag2", target: "myhashtag3" },
          { source: "myhashtag3", target: "myhashtag4" }
        ]
      };

      const width = 800;
      const height = 600;

      const color = d3.scaleOrdinal(d3.schemeCategory10);

      const svg = d3.select("svg")
        .attr("width", width)
        .attr("height", height);

      const simulation = d3.forceSimulation()
        .force("link", d3.forceLink().id(d => d.id))
        .force("charge", d3.forceManyBody())
        .force("center", d3.forceCenter(width / 2, height / 2));

      const link = svg.append("g")
        .attr("class", "links")
        .selectAll("line")
        .data(data.links)
        .enter().append("line");

      const node = svg.append("g")
        .attr("class", "nodes")
        .selectAll("g")
        .data(data.nodes)
        .enter().append("g");

      const circles = node.append("circle")
        .attr("r", 5)
        .attr("fill", d => color(d.group));

      const labels = node.append("text")
        .text(d => "#" + d.id)
        .attr("font-size", "10px")
        .attr("dx", 12)
        .attr("dy", 4);

      simulation.nodes(data.nodes).on("tick", ticked);
      simulation.force("link").links(data.links);

      function ticked() {
        link
          .attr("x1", d => d.source.x)
          .attr("y1", d => d.source.y)
          .attr("x2", d => d.target.x)
          .attr("y2", d => d.target.y);

        node
          .attr("transform", d => `translate(${d.x}, ${d.y})`);
      }
  </script>
  </body>

</th:block>

</html>