<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<th:block layout:fragment="css">
  <link rel="stylesheet" href="/writeBeforePay.css" />
</th:block>
<th:block layout:fragment="content">
  <style>
</style>
  <body>
  <div class="write_container">
    <form class="write_column" th:action="@{/auth/writeContentProc}" th:method="POST">
      <div class="write_wrapper">
        <div class="write__content">
          <div class="write_column">

            <div class="option__column" >
              <div class="input-group">
                <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon" required>
                  <option value="">-지역선택-</option>
                  <option value="gang-nam-gu">강남구 </option>
                  <option value="Gang-dong-gu">강동구</option>
                  <option value="Gang-buk-gu">강북구</option>
                  <option value="Gang-seo-gu">강서구</option>
                  <option value="Gwan-ak-gu">관악구</option>
                  <option value="Guro-gu">구로구</option>
                  <option value="Geum-cheon-gu">금천구</option>
                  <option value="No-won-gu">노원구</option>
                  <option value="Do-bong-gu">도봉구</option>
                  <option value="Dong-dae-mun-gu">동대문구</option>
                  <option value="Dong-jak-gu">동작구</option>
                  <option value="Ma-po-gu">마포구</option>
                  <option value="Seo-dae-mun-gu">서대문구</option>
                  <option value="Seo-cho-gu">서초구</option>
                  <option value="Seong-dong-gu">성동구</option>
                  <option value="Song-pa-gu">송파구</option>
                  <option value="Yang-cheon-gu">양천구</option>
                  <option value="Yeong-deung-po-gu">영등포구</option>
                  <option value="Yong-san-gu">용산구</option>
                  <option value="Eun-pyeong-gu">은평구</option>
                  <option value="Jong-no-gu">종로구</option>
                  <option value="Jung-gu">중구</option>
                  <option value="Jung-nang-gu">중랑구</option>

                </select>
              </div>
              <input class="write_submit" type="submit" value="글올리기">
              <div class="title_column">
                <input class="write_title" type="text" placeholder="제목" required>
              </div>
              <div class="detail_column">
                <input class="write_detail" type="text" placeholder="주소">
              </div>
            </div>

          </div>
          <div class="write_price">
            <input class="write_price" type="text" placeholder="보증금">
            <input class="write__price" type="text" placeholder="관리비">
          </div>
          <div class="house_img">
            <input type="file" id="image" accept="image/*" onchange="setThumbnail(event);" multiple/>
            <div id="image_container"></div>
            <textarea placeholder="방이나 본인에 대해서 설명해주세요" class="house_detail" cols="37" rows="7" required></textarea>

            <div class="answer">
            <h4>게시물 작성 후 다른 사람들이 연락할 수 있게 연락수단을 댓글로 남겨주세요.
            <input type="radio" name="answer" required > 확인했습니다<br></h4>
            </div>
          </div>
        </div>

      </div>


    </form>
  </div>

  <script>
      function setThumbnail(event) {
        for (var image of event.target.files) {
          var reader = new FileReader();

          reader.onload = function(event) {
            var img = document.createElement("img");
            img.setAttribute("src", event.target.result);
            document.querySelector("div#image_container").appendChild(img);
          };

          console.log(image);
          reader.readAsDataURL(image);
        }
      }
    </script>

  </body>

</th:block>
</body>
</html>