<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
  <link rel="stylesheet"  th:href="@{/find/choose.css}" type="text/css"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Together | 아이디/비밀번호찾기</title>
</head>
<body>

<th:block layout:fragment="content">
 <div class="find_ti">
  <h3><strong>아이디 찾기</strong></h3>
  <span>아이디를 찾는 방법을 선택해주세요.</span>
 </div>
  <div class="find_container">
    <div class="ph_wrapper">
        <ul>
      <li><a class="find_ph" href="/findId/phone"><i class="fa-solid fa-mobile-screen-button fa-5x"></i>
        <p class="tit_ph">휴대폰인증</p>
        <p class="txt">휴대폰번호를 이용하여 아이디를 찾으실 수 있습니다.</p>
      </a></li>
        </ul>
    </div>
    <div class="mail_wrapper">
        <ul>
      <li><a class="find_mail" href="/findId/mail"><i class="fa-regular fa-envelope fa-5x"></i>
        <p class="tit_mail">이메일인증</p>
        <p class="txt">이메일을 이용하여 아이디를 찾으실 수 있습니다.</p>
      </a></li>
        </ul>
    </div>
      </ul>
  </div>


</th:block>
</body>
<script src="https://kit.fontawesome.com/fc4815c9cc.js" crossorigin="anonymous"></script>
</html>