<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
  <link rel="stylesheet"  th:href="@{/find/password.css}" type="text/css"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Together |비밀번호찾기</title>
</head>
<body>
<th:block layout:fragment="content">
  <div class="pwd_container">
    <div class="pwd_column">
      <div class="pwd_box">
        <h3 class="pwd_tit"><strong>비밀번호 찾기</strong></h3>
        <div> <input class="pwd_id" type="text" placeholder="아이디"  /> </div>
        <div> <input class="pwd_name" type="text" placeholder="이름"  /> </div>
        <div><input class="pwd_mail" type="text" placeholder="이메일"/></div>
        <div><input class="pwd_phone" type="tel" placeholder="휴대전화(번호만 입력)"/>
          <button class="pwd_auth" >본인 인증</button></div>
        <div><input class="pwd_sub" type="submit" value="확인" style="color:white;"/></div>
        <div class="find_href"><a href="choose"><span class="find_id">아이디 찾기</span></a></div>

      </div>
    </div>

  </div>
</th:block>
</body>
</html>