<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link rel="stylesheet"  th:href="@{/find/phone.css}" type="text/css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Together | 아이디찾기</title>
</head>
<body>
<th:block layout:fragment="content">
 <div class="phone_container">
  <div class="phone_column">
  <div class="phone_box">
     <h3 class="phone_tit"><strong>휴대전화로 아이디 찾기</strong></h3>
      <div> <input class="phone_name" type="text" placeholder="이름"  /> </div>
      <div><input class="phone" type="tel" placeholder="휴대전화(번호만 입력)"/>
          <button class="phone_auth" >본인 인증</button></div>
       <div><input class="ph_sub" type="submit" value="확인" style="color:white;"/></div>
      <div class="find_href"><a href="/findId/mail"><span class="find_email">이메일로 아이디 찾기</span></a>
          <a href="/findPassword"><span class="find_pw">비밀번호 찾기</span></a></div>
  </div>
   </div>

 </div>

</th:block>
</body>
</html>